body, div {
  box-sizing: border-box;
  position: relative;
}

button {
  outline: none;
  padding: 0px;
}

.instructions {
  width: 700px;
  height: 700px;
}

.start-button:focus {
  background: url('./images/pressed.png');
}

.start-button {
  position: relative;
  width: 102px;
  height: 102px;
  border: none;
  background: url('./images/unpressed.png');
}

.start-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-58%, -70%, 0);
  font-size: 16px;
}


.center-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  margin: 40px auto 0px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.all-numbers {
  display: flex;
  flex-direction: column;
}

.main-number {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  font-size: 60px;
}

.numbers-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
}

.secondary-number {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 34px;
}

.stage-num {
  font-size: 20px;
  margin-bottom: 20px;
}

.light {
  width: 30px;
  height: 20px;
}

.on {
  background-color: #11a417;
}

.stage-tracker {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 320px;
  margin-left: 30px;
  padding: 12px 10px;
  justify-content: space-between;
  width: 75px;
  align-items: center;
  border-radius: 5px;
}

.light {
  border-radius: 5px;
  width: 50px;
  height: 35px;
}
